.right {
  text-align: right;
}
.submit{
  padding: 10px 30px;
  border: none;
  background: #689CD2;
  color: #fff;
}
.submit:hover{
  background: #365170;
}
.send{
  height: 40px;
  border: none;
  background: #365170;
  color: #fff;
}
.send:hover{
  background: #689CD2;
}
.file_upload{
  width: 640px;
  height: 480px;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}
video {
  width: 640px;
  height: 480px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
}
.canv{ 
    background-image: url("../img/photo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 240px;
    border: 3px solid gainsboro;
    border-radius: 5px;
}

canvas {

}
.snap {
  position: relative;
}
.snap video{
  display: block;
}
.snap input{
  width: 100%;
  height: 60px;
}

#shot{
  background: #365170;
  color: #fff;
}
#shot:hover{
  background: #689CD2;
  
}

#imgBtns {
  display: none;
}
#imgBtns input{
  border: none;
  width: 100%;
  height: 40px;
  background: #365170;
  color: #fff;
}
#imgBtns input:hover{
  background: #689CD2;
}
#user_id{
  display: none;
}

.upload{
  display: none;
}

.right_galery{
  width: 350px;
  height: 540px;
  overflow-y: scroll;
}
.img_gal{
  width: 100%;
  height: 40%;
  border-radius: 5px;
}

.img_gal:hover{
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.del_img{
  width: 100%;
  margin-bottom: 5px;
  background: #365170;
  color: #fff;
  border: none;
  height: 30px;
  margin-top: -4px;
}
.del_img:hover{
   background: #689CD2;
}
.image_box
{
  margin-top: 20px;
  width: 90%;
  display: inline-block;
}

.picture{
  display: inline-block;
  width: 30%;
}

.pagination li {
  display: inline;
  margin-left: 5px;
}

.text_comment{
  text-align: left;
  max-width: 598px;
}

.date_comment{
  text-align: left;
  color: darkgray;
  font-style: italic;
  font-size: small;
  margin-top: 5px;
  margin-bottom: -15px;
}

.like {
  width: 60px;
  height: 40px;
  float: left;
  cursor: pointer;
}

.like.unliked{
  background-image: url("../img/image(1).png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.like.liked{
  background-image: url("../img/image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.likes_quantity h3{
  font-family: Uni Sans;
  line-height: 1.4;
}

.icons{
  display: flex;
  width: 1330px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 5px solid gainsboro;
  border-radius: 5px;
  overflow-x: scroll;
}

.icon_in_block{
  position: absolute;
  top: 0;
  width: 200px;
  height: 150px;
}

.img_icon{
  width: 170px;
  height: 120px;
  margin-left: 5px;
  border-left: 1px solid grey;
}

.img_icon:hover{
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.icon_block{
  width: 640px;
  height: 480px;
  overflow: hidden;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 1325px){
  .snap{
    margin-right: auto;
    padding-left: 10px;
  }
  
  .image, .right_galery {
    width: 425px;
  }
  .canv{
    width: inherit;
    height: 290px;
  }
}

@media screen and (max-width: 1090px){
  .snap{
    margin-left: auto;

  }
  .image{
    width: 425px;
  }
  
  .canv{
    width: inherit;
    height: 290px;
  }
}

@media screen and (max-width: 995px){
  .snap{
    margin-left: auto;
    padding-right: 10px;
  }
}
@media screen and (max-width: 655px){
  #video, .icon_block, #uploaded_img, #file-input{
    width: 600px;
    height: 450px;
  }
}
@media screen and (max-width: 605px){
  #video, .icon_block, #uploaded_img, #file-input{
    width: 550px;
    height: 410px;
  }
}
@media screen and (max-width: 555px){
  #video, .icon_block, #uploaded_img, #file-input{
    width: 500px;
    height: 372px;
  }
}
@media screen and (max-width: 505px){
  #video, .icon_block, #uploaded_img, #file-input{
    width: 450px;
    height: 334px;
  }
}
@media screen and (max-width: 455px){
  #video, .icon_block, #uploaded_img, #file-input{
    width: 400px;
    height: 295px;
  }
  .image{
    width: 100%;
  }
}
@media screen and (max-width: 400px){
  #video, .icon_block, #uploaded_img, #file-input{
    width: 320px;
    height: 240px;
  }
}